/* Set up font styles here */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');
h1,
h2,
h3,
p,
div {
  font-family: 'Josefin Sans', sans-serif;
}

div {
  font-size: clamp(1.5rem, 2.5vw, 3rem);
}
p {
  font-size: clamp(1.2rem, 2.5vw, 1.8rem);
}
