/* Basic style rules here */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Grid Containers */

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 200px));
  gap: 20px;
}

/* Grid Items */
.box {
  display: grid;
  align-items: center;
  justify-items: center;

  height: 200px;
  max-width: 200px;
}
.grid-container header {
  grid-column: 1 / -1;

  text-align: center;
}
